.ndy-mt0{ margin-top: 0px!important; }
.ndy-mt1{ margin-top: 10px!important; }
.ndy-mt2{ margin-top: 20px!important; }
.ndy-mt3{ margin-top: 30px!important; }

.ndy-mb0{ margin-bottom: 0px!important; }
.ndy-mb1{ margin-bottom: 10px!important; }
.ndy-mb2{ margin-bottom: 20px!important; }
.ndy-mb3{ margin-bottom: 30px!important; }

.ndy-mbl0{ margin-left: 0px!important; }
.ndy-mbl1{ margin-left: 10px!important; }
.ndy-mbl2{ margin-left: 20px!important; }
.ndy-mbl3{ margin-left: 30px!important; }

.ndy-mr0{ margin-right: 0px!important; }
.ndy-mr1{ margin-right: 10px!important; }
.ndy-mr2{ margin-right: 20px!important; }
.ndy-mr3{ margin-right: 30px!important; }

.ndy-pt0{ padding-top: 0px!important; }
.ndy-pt1{ padding-top: 10px!important; }
.ndy-pt2{ padding-top: 20px!important; }
.ndy-pt3{ padding-top: 30px!important; }

.ndy-pb0{ padding-bottom: 0px!important; }
.ndy-pb1{ padding-bottom: 10px!important; }
.ndy-pb2{ padding-bottom: 20px!important; }
.ndy-pb3{ padding-bottom: 30px!important; }

.ndy-pll0{ padding-left: 0px!important; }
.ndy-pll1{ padding-left: 10px!important; }
.ndy-pll2{ padding-left: 20px!important; }
.ndy-pll3{ padding-left: 30px!important; }

.ndy-pr0{ padding-right: 0px!important; }
.ndy-pr1{ padding-right: 10px!important; }
.ndy-pr2{ padding-right: 20px!important; }
.ndy-pr3{ padding-right: 30px!important; }